@* Copyright (c) Microsoft Corporation.
    Licensed under the MIT license. *@

@model UserOwnsData.Models.AuthDetails

@{
    ViewBag.Title = "EmbedVisuals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="outer-div" style="height:100%">
    <header class="row">
        <div class="heading col-lg-6 col-md-6">Power BI Embedded Sample</div>
        <div class="user-info col-lg-6 col-md-6">
            Welcome <strong><u>@Model.UserName!</u></strong>
        </div>
        <div class="user-info col-lg-6 col-md-6">
            <a href="/EmbedInfo/Embed">EmbedInfo</a>
        </div>
    </header>

    <!-- Show errors to the user -->
    <div id="error-container">
    </div>

    <div class="grid-container" id="visualsContainer">

    </div>

    <script src="~/Scripts/embedVisuals.js"></script>
    <script>
    loggedInUser.accessToken = "@Model.AccessToken";

    // Retrieve Power BI hostname from Web.config file
    globals.powerBiHostname = '@System.Configuration.ConfigurationManager.AppSettings["powerBiHostname"]';

    // Cache base endpoint for Power BI REST API
    globals.powerBiApi = '@System.Configuration.ConfigurationManager.AppSettings["powerBiApiUrl"]' + '/v1.0/myorg';


    </script>
</div>